/*
* @Author: David M. Rojas Gonzalez // davidr.info  
* @Date: 2019-03-20 21:08:16  
 * @Last Modified by: David M. Rojas Gonzalez // davidr.info
 * @Last Modified time: 2019-03-20 21:18:07
*/

.RandomDisplay{
    h2{
        font-family: 'Roboto', sans-serif;
        text-transform: capitalize;
        color: white;
    }
}