/*
 * @Author: David M. Rojas Gonzalez // davidr.info 
 * @Date: 2019-02-05 17:53:14 
 * @Last Modified by: David M. Rojas Gonzalez // davidr.info
 * @Last Modified time: 2019-03-23 16:53:56
 */

@import './colors';
@import './dimensions';
@import url('https://fonts.googleapis.com/css?family=Righteous|Roboto');

body{
  background-color: $color-bg-primary;
  color: $color-fnt-default;
  font-family: 'Roboto', sans-serif;
}

@for $i from 1 through 6 {
  h#{$i}{
    font-family: 'Righteous', cursive;
  }
}

h1{color: $color-fnt-h1;}
h2{color: $color-fnt-h2;}
h3{color: $color-fnt-h3;}

hr{
  border-color: $color-primary;
}

#PageWrapper{
  display: flex;
  justify-content: center;
}

#ContentWrapper{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(1.5rem, auto);
  grid-gap: 1rem;
  margin: 0.5rem 2rem;

  @media (max-width: $brk-lg){
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: $brk-md){
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: $brk-sm){
    grid-template-columns: 1fr;
  }
}